*.gem
/.bundle/
/Gemfile.lock
/coverage/
/pkg/
/tmp/
/spec/tmp/
/spec/smoke/*.pdf
/ext/libBeresta/build/
/ext/libBeresta/install/
/ext/libBeresta/lib/
/build/
*.dylib
*.so
*.bundle
*.rbc
.DS_Store
*.gem
.rspec_status
